.detail img {
    border-radius: 5px;
}

.custom-width {
    width: 60%;
}

.product {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

@media only screen and (max-width:576px) {
    .custom-width {
        width: 100%;
    }
}